# Exported from Render on 2025-11-12T12:20:14Z
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    databases:
    - name: gogotaxi-back
      databaseName: gogotaxi_back
      user: gogotaxi_back_user
      plan: free
      region: oregon
      ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
      postgresMajorVersion: "17"
